.favourites_section{
    padding: calc(40px + 2vw) 30px ;
    
    
    
}
.cards_favourites{
padding:  calc(20px + 0.5vw) 0;
}


.favourites_description{
    max-width: 820px;
    margin: auto;
    text-align: center;
    
  }

.favorutie_items{
  margin: auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}