.forgotpassword_section {
  padding: calc(40px + 1.5vw) 0;
  .container_forgotpassword {
    padding-top: calc(60px + 2.5vw);
    border: 0;
    width: calc(320px + 10vw);
    @media screen and (min-width: 1000px) {
      padding: 68px 80px 35px 80px;
      border: solid 1px #000;
    }

    h1 {
      position: relative;
      font-size: calc(38px + 1vw);
      line-height: 52px;
      text-align: center;
      @media screen and (min-width: 1000px) {
        text-align: start;
      }
    }
    .text_wellcom {
      padding-top: 12px;
      font-size: calc(10px + 0.5vw);
      line-height: 24px;
      text-align: center;
      @media screen and (min-width: 1000px) {
        text-align: start;
      }
    }

    form {
      fieldset {
        padding: 5px 5px 5px 15px;

        border-radius: 5px;
        legend {
          width: auto;
          float: none;
          font-size: 12px;
          margin-bottom: -10px;
          margin: 0;
        }
        input {
          border: none;
          padding: 0;
        }
      }
    }
  }

  .forgot_password {
    right: 11px;
  }

  .sign_in_btn {
    font-size: 12px;
  }
}
